
.brand-logo-container {
    width: 143px;
     height: 92px;
     background: #fff;
     margin: 0 auto;
   padding-top:35%;
 }
 
 
 .brands-slider-col{
     height: 200px;
     width: 100%;
     float: none
 }
 #brand-discount-slider {
 position: relative;
     overflow: hidden;
     width: 100% !important;
     height: 200px !important;
     border-top: 1px solid #ccc;
     border-bottom: 1px solid #ccc;
     padding: 0px 0px;
 }
 #brand-discount-slider ul {
     position: relative;
     margin: 0 !important;
 padding: 0 60px !important;
     height: 100% !important;
     list-style: none;
   display: flex;
   width:100% !important;
 }
 #brand-discount-slider ul li {
 position: relative;
     display: block;
     float: left;
     margin: 20px;
     padding: 0;
     width: 100%;
     border: 1px solid #ccc;
     text-align: center;
 }
 #brand-discount-slider ul li img {
 width: 100%;
 }
 .brand-arrow-prev {
     width: 50px;
     height: 81%;
     background: #000;
     text-align: center;
     line-height: 177px;
     color: #fff;
     position: absolute;
     top: 0px;
     left: 0;
     z-index: 25;
     cursor: pointer;
     margin: 20px 0px;
 }
 .brand-arrow-next {
       width: 50px;
    height: 81%;
     background: #000;
     text-align: center;
     line-height: 177px;
     color: #fff;
     position: absolute;
     top: 0px;
     right: 0;
     z-index: 25;
     cursor: pointer;
    margin: 20px 0px;
 }
 
 .brand-arrow-next:hover, .brand-arrow-prev:hover {
   color:#d58e35;
 }